* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.top-section {
  display: flex;
  gap: 1em;
  max-width: 34em;
  margin: 30px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  display: inline-block;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tv-show-title {
  align-self: flex-end;
  font-size: 3rem;
  flex: 0 1 0;
  font-weight: 500;
}

.tv-show-image {
  max-width: 19em;
  max-height: 19em;
}
.tv-show-image > img {
  width: 100%;
  min-height: 100%;
}

.fav-button {
  align-self: flex-end;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 1.2em;
  transition: transform 0.2s;
}

.fav-button:hover {
  transform: scale(1.1);
}

.plot {
  max-width: 34em;
  margin: 30px auto 0;
}

.cast-information,
.seasons-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34em;
  margin: 30px auto 0;
  gap: 1em;
}

.cast-list,
.seasons-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.cast-list img {
  max-width: 6em;
}

.cast-name,
.seasons-name {
  max-width: 6em;
}

.seasons-list img {
  max-width: 6em;
}

.seasons-information {
  margin-bottom: 1em;
}

h2 {
  font-weight: 500;
  border-bottom: 1px solid #0087ca;
}

@media only screen and (max-width: 768px) {
  .cast-information,
  .seasons-information {
    align-items: center;
  }

  .cast-list,
  .seasons-list {
    justify-content: center;
  }

  .plot {
    width: 90%;
  }
}
