* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.input-form {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 550px;
}

.search-button {
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  opacity: 0.3;
}

input {
  margin: auto;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 20%), 25px 25px 50px rgb(0 0 0 / 10%);
  font-size: 24px;
  line-height: 1.4em;
  width: 90%;
  outline: none;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

::placeholder {
  opacity: 0.3;
}

.tv-shows-all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  row-gap: 50px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.tv-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.tv-show:hover {
  transform: scale(1.02);
}

.tv-show img {
  max-width: 300px;
  max-height: 300px;
}

.subtext,
.genre {
  text-align: center;
}

.subtext {
  font-weight: 500;
  margin-top: 5px;
}

.genre {
  font-size: 11px;
  opacity: 0.5;
  padding: 2px;
}

footer {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  font-weight: 100;
}

footer p {
  color: white;
}

footer a {
  align-self: center;
  margin-left: 0.5em;
}

footer img {
  height: 1.5em;
  width: 1.5em;
  transition: transform 0.3s ease-in-out;
}

footer img:hover {
  transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 768px) {
  .tv-shows-all {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .input-form {
    width: 90%;
  }

  input {
    font-size: 1.2rem;
  }
}
